.filter-form {
    height: 100px;
}

.filter-button,
.add-button {
  max-height: 50px;
  height: 40px;
  line-height: 20px;
  min-width: 100px;
}

mat-form-field {
  margin: 0;
  max-height: 50px;

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  input,
  mat-select {
    font-size: 14px;
    height: 40px;
  }

  .mat-input-element {
    height: 40px;
  }
}

.mat-datepicker-toggle {
  margin-right: 5px;
}
