<div class="internal-wrapper">
  <div class="first-col">
    <mat-card>
      <mat-card-header>
        <h3>Doctor's Profile:</h3>
      </mat-card-header>
      <mat-card-content>
        <div class="data-field">
          <span> Name:</span>
          <span><i> {{ name }} </i></span>
        </div>
        <div class="data-field">
          <span> Surname:</span>
          <span><i> {{ surname }} </i></span>
        </div>

        <div class="data-field">
          <span> Email:</span>
          <span><i> {{ email }} </i></span>
        </div>
        <div class="data-field">
          <span> Phone:</span>
          <span><i> {{ phone }} </i></span>
        </div>
        <div class="data-field">
          <span> Type:</span>
          <span><i> {{ doctorType }} </i></span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>