.internal-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../../../../../assets/images/checkIn.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 20px;
  padding: 100px 20px;
}

.first-col {
  width: 20%;
}
.second-col {
  width: 60%;
}
.data-field {
  padding: 10px 0px;

  span:nth-child(2) {
    text-decoration: underline;
    font-weight: 500;
  }
}
