<div class="home-wrapper">
  <div class="content-container d-flex justify-content-center align-items-center flex-column">
    <div class="content-container-header d-flex flex-column justify-content-center align-items-center">
      <h2>Welcome to</h2>
      <h1>Catalog Medical</h1>
    </div>
    <div class="content-container-body d-flex flex-column justify-content-center align-items-center">
      <p>
        Let us take care of your most darling people. Here you can find the best
        services the market offers to its people. Trust us, you'll never regret
        it!
      </p>
    </div>
  </div>
</div>