<div class="navbar-body" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button class="navbar-title button-expand-animation" [disableRipple]="true" [routerLink]="['/home']">
        Catalog Medical
    </button>
    <div class="navbar-actions" fxLayout="row" fxLayoutGap="30px">
        <button mat-button class="navbar-link button-expand-animation" [routerLink]="['/patients']">
            Patients
        </button>
        <button mat-button class="navbar-link button-expand-animation" (click)="logout()">
            Logout
        </button>
    </div>
</div>