@import "src/assets/colors.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-title {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    color: $text-label;
    letter-spacing: 0.5rem;
}

.page-content {
    padding: 24px 0;
}